{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
    Total <span id="busuanzi_value_site_pv"></span> views.<br>
    您是wky32768的第<span id="busuanzi_value_site_uv"></span>个小伙伴<br>
    <span id="busuanzi_value_page_pv"></span> Hits
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="container">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
    Total <span id="busuanzi_value_site_pv"></span> views.<br>
    您是xxx的第<span id="busuanzi_value_site_uv"></span>个小伙伴<br>
    <span id="busuanzi_value_page_pv"></span> Hits
  </footer>
{% endif %}
